@{
    ViewData["Title"] = "Home Page";
}
<div class="w-100 d-flex flex-wrap">
    @for(int i = 1; i < 9; i++)
    {
            <div class="card" style=" margin-left: 15px; margin-bottom:10px; margin-top: 5px; width: 16rem">
        <img src="https://baodongnai.com.vn/file/e7837c02876411cd0187645a2551379f/dataimages/201706/original/images1920558_4053279_16.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Detail-></a>
        </div>
        </div>
    }
</div>